.blogItem-wrap {
  
  display: flex;
  flex-direction: column;
  margin-bottom: 10%;
  background: white;
}
.blogItem-wrap:hover{
  box-shadow: 0px 12px 30px 0px rgba(0, 0, 0, 0.5);
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  border-radius: 20px;

}
.blogItem-cover {
  width: 100%;
  height: 250px;
  /* object-fit: cover; */
  border-radius: 20px;
  margin-bottom: 0.5rem;
}
.blogItem-wrap h3 {
  margin: 1px 1px 1px 1px;
  flex: 1;
  padding: 0 7px 0 10px;
  font-weight: 600;
  font-size: large;
}

.blogItem-desc {
  position: relative;
  max-height: 50px;
  overflow: hidden;
  padding-right: 0.6rem;
  font-size: 0.8rem;
  color: #a9a9a9;
  padding: 0 7px 0 7px;
}

.blogItem-desc::before {
  position: absolute;
  content: '...';
  bottom: 0;
  right: 0;
}

.blogItem-link {
  text-decoration: none;
  color: inherit;
  padding:0;
  font-weight: 500;

}

.blogItem-author {
  display: flex;
  align-items: center;
}

.blogItem-author img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 0.5rem;
}

.blogItem-author p {
  font-size: 0.6rem;
  color: #a9a9a9;
  font-weight: 600;
}
@media only screen and (max-width: 600px) {

  .blogItem-wrap {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    background: white;
  }
}