.home-header {
  text-align: center;
  padding-top: 5%;
}

.home-header h2 {
  font-family: 'Dancing Script', cursive;
  color: black;
  font-size: 2rem;
  word-spacing: 2px;
  font-weight: 800;
}

.home-header h1 {
  font-family: 'Dancing Script', cursive;

  font-size: 4rem;
  color: #006dff;
  font-weight: 800;
}

.home-header h1 span {
  color: #b0c4de;
}

.home-header p {
  color: #a9a9a9;
  font-weight: 500;
}

@media only screen and (max-width: 600px) {
  .home-header h1 {
    font-size: 2.5rem;
  }

  .searchBar-wrap form {
    display: flex;
    align-items: center;
    width: 288px;
  }

  .blogItem-wrap {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    background: white;
  }

  .home-header {
    text-align: center;
    padding-top: 23%;
  }
}