.chip {
  font-size: 12px;
  background: linear-gradient(to right, #6190e8, #001c73);
  color: #fff;
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-transform: capitalize;
  margin-left: 7px;

}
