.emptyList-wrap {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 50px;
}
.emptyList-wrap h1{
  margin-left:12%
}



@media only screen and (max-width: 500px) {
  .emptyList-wrap {
    height: 90vh;
  }
  .emptyList-wrap h1 {
    margin-left: 0;
}
}