.searchBar-wrap {
  background-color: #f0f0f0;
  width: fit-content;
  margin: 1.5rem auto 1.5rem auto;
  padding: 0.1rem;
  border-radius: 5px;
  border: 4px solid #0063fd;
}

.searchBar-wrap form {
  display: flex;
  align-items: center;
  width:500px;
  /* font-size: 47px; */
}

.searchBar-wrap input {
  background-color: #f0f0f0;
  outline: none;
  border: none;
  width: 450px;
  font-size: 15px;
  outline: none;
}


.searchBar-wrap span {
  padding-right: 0.5rem;
  cursor: pointer;
}

.searchBar-wrap button {
  outline: none;
  border: none;
  padding: 0.3rem 1rem;
  border-radius: 5px;
  background-color: #0063fd;
  color: #fff;
  font-size: 15px;
}
