.banner-details {
  width: 100vw;
  height: 100vh;
  filter: brightness(70%);


}

@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine&display=swap');

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

body {
  background: url('https://res.cloudinary.com/rohangotwal/image/upload/v1672657967/Blog/Background_4_btkrgn.jpg');
  /* background-repeat: no-repeat; */
  background-size: cover;
}

/* .banner-detail img{
    width: 100%;
    height: 100%;
} */
.cover {
  display: flex;
  justify-content: center;
  position: relative;
}
.head-admin{
  position: relative;
}

.overlay {
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: saturate(180%) blur(30px);
  backdrop-filter: saturate(180%) blur(3px);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
  text-align: center;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* padding-right: 5%; */
  padding-top: 3%;

}

.soc-names {
  display: flex;
  justify-content: center;
  gap: 5%;
}
.soc-names span {
  display: flex;
  color: white;
  font-size: 40px;
  align-items: center;
}
/* table,th,td,tr{
  text-align: center;
} */
table,tr,th,td{
  border: 1px solid gray
}
.avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 20px; */
  text-transform: capitalize;
}
.soc-names h1 {
  font-size: 35px;
  color: aliceblue;
  padding: 3px 10px 3px 10px;
  border-radius: 15px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 5px;
}

.overlay h2 {
  margin-top: 21px;
  font-size: 30px;
  letter-spacing: 6px;
  font-weight: 900;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}

.overlay h3 {
  font-family: 'Dancing Script', cursive;
  font-size: 82px;
  color: aliceblue;
  border-radius: 20px;
  text-transform: initial;
  font-weight: 700;
  letter-spacing: 7px;
}

.overlay button {
  font-size: 30px;
  font-weight: 700;
  text-transform: capitalize;
  width: 252px;
  background: white;
  padding: 5px;
  margin: 2% auto 0 auto;
  border-radius: 2.5rem;
  letter-spacing: 1px;
  border: 1px solid #000000;
  background: linear-gradient(to right, rgb(21, 106, 224) 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .5s ease-out;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;

}

.loading h1 {
  display: absolute;
  font-size: 50px;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%,50%); */
}

.overlay button:hover {
  color: aliceblue;
  border: 1px solid white;
  background-position: left bottom;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay a {
  font-size: 19px;
  text-transform: capitalize;
  width: 212px;
  background: transparent;
  color: white;
  padding: 5px;
  margin: 2% auto 0 auto;
  border-radius: 2.5rem;
  /* box-shadow: 5px 4px 4px #8c8585; */
  letter-spacing: 1px;
  border: 1px solid #ffffff;
}

.overlay a:hover {
  border: 1px solid white;
  background-color: rgb(0 100 218 / var(--tw-bg-opacity));
  color: aliceblue;
}

.content {
  width: 85%;
  margin: 5% auto 8% auto;
  text-align: center;
  box-shadow: 2px 2px 2px 2px #615b5b;
  border-radius: 12px;
  border: 6px solid #006dff;
  padding: 1rem;
}

.content h1 {
  margin-bottom: 2%;
  font-family: 'Pacifico', cursive;
  text-align: center;
  font-weight: 800;
  font-size: 60px;
  color: #000000;
}

.content ul {
  border: 4px solid #2b2a2a;
  padding: 20px;
  margin-top: 5%;
  font-weight: 600;
  font-size: 20px;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 2px 2px #a9a5a5;

}

.content ul li {
  text-align: justify;
  margin-top: 2px;
  letter-spacing: 2px;
}

.content p {
  font-weight: 500;
  font-size: large;
  padding: 1rem;
  margin-bottom: 1.5rem;
  text-align: justify;
}


.faqs {
  width: 80%;
  margin: 2% auto 0 auto;
  padding: 15px;

}

.faqs h2 {
  font-weight: 700;
}

.faqs .faq {
  margin: 15px;
  padding: 15px;
  background: #fff;
  border-radius: 10px;
  border: 2px solid gray;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.faqs .faq .faq-question {
  position: relative;
  font-size: 20px;
  padding-right: 80px;
  font-weight: 500;
  text-align: start;
  transition: all 0.4s ease;
}

.oneline span {
  width: 33%;
  display: flex;
  flex-direction: column;
  float: inline-start;
  font-size: 30px;
  font-weight: 700;
}

.faqs .faq .faq-question::after {
  content: "+";
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  width: 30px;

  height: 30px;
  transition: all 0.2s ease;
}

.faqs .faq .faq-answer {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  font-weight: 500;
  text-align: start;

  transition: all 0.2s ease;
}

.faqs .faq.open .faq-question {
  margin-bottom: 15px;
}

.faqs .faq.open .faq-question::after {
  content: "-";
}

.faqs .faq.open .faq-answer {
  max-height: 1000px;
  opacity: 1;
}

.back-event {
  width: 10px;
}

.logout {
  display: flex;
  background-color: #000000;
  color: white;
  padding: 0.5rem;
  border-radius: 10px;
  margin: 0.5rem 0.5rem;
  
}
.bottom-nav-admin{
  display: flex;
  justify-content: center;
}
.pastEvent{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.faqs h2 {
  margin-bottom: 2%;
  font-family: 'Pacifico', cursive;
  text-align: center;
  font-weight: 800;
  font-size: 40px;
  color: #000000;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo h2 {
  font-size: 30px;
  font-family: 'Dancing Script';
  color: #000000;

}

.nav-logo {
  width: 80px;
}

.bottombar {
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 40px;
  border-bottom: 1px solid gray;
  top: 80px;
  position: fixed;
  width: 100vw;
  z-index: 9;
}

.bottombar li {
  display: inline-block;
  font-size: 22px;
}

.bottombar li button {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
}

.blog-wrap {
  width: 90%;
  margin: 0 auto 0 auto;
}

.blog-wrap header {
  font-size: 3rem;
  text-align: center;
}

.soc-card {
  width: 100%;
  display: flex;
  justify-content: center;
}

.soc-banner {
  /* border-bottom: 1px solid rgb(189, 185, 185); */
  margin: 0 0 2% 0;
  padding-top: 8%;
  padding-bottom: 2%;
  display: block;
}

.blog-wrap img {
  width: 178px;
  border: 2px solid gray;
  text-align: center;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.soc-banner h1 {
  font-weight: 900;
  letter-spacing: 10px;
}

.blog-subCategory>div {
  margin: 1rem;
}

.blog-desc {
  font-weight: 500;
  font-size: 18px;
  padding: 1rem;
  margin-bottom: 1.5rem;
  text-align: center;
  text-transform: capitalize;
}
th{
  font-size: 20px;
  padding: 10px 0;
}
.avatar {
  width: 100px;
  height: 100px;
  margin: auto;
  border-radius: 50%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
}
.soc-single-card {
  border-radius: 20px;
  box-shadow: 0 3px 7px 4px #888888;
  width: 280px;
}

.about-soc-head {
  font-family: 'Pacifico', cursive;
  text-align: center;
  font-weight: 800;
  font-size: 60px;
  color: #000000;
}

.about-soc h1 {
  display: inline-block;
  width: 100%;
  font-size: 50px;
  text-align: center;
  border-bottom: 1px solid gray;
  text-transform: uppercase;
  font-weight: 800;
  color: white;
  background: #006dff;
}

.about-soc-div {
  border-radius: 12px;
  border: 6px solid #006dff;
  padding: 1rem;
}

.about-soc {
  margin-bottom: 5%;
  margin-top: 7%;
}

.about-soc ul li {
  font-family: 'Domine', serif;
  width: 100%;
  font-size: 23px;
  border-bottom: 1px solid gray;
  margin: 0;
  color: black;
  border-radius: 0;
}

.about-soc ul h3 {
  display: inline;
  font-weight: 700;
}

.winner-head {
  font-size: 40px;
  font-weight: 600;
  margin-top: 4%;
  margin-bottom: 4%;
  text-transform: uppercase;
  letter-spacing: 1px;

}

.eventcards {
  box-shadow: 5px 4px 4px #a09f9f;
  height: 438px;
  width: 250px;
  background: white;
}
.pasteventcards {
  box-shadow: 5px 4px 4px #a09f9f;
  height: 345px;
  width: 250px;
  background: white;
}

.soc-event-avatar {
  width: 166px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: black;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slider {
  width: 90vw;
  margin: 5rem auto;
  max-width: 1170px;
}

.section-center {
  margin: auto;
  margin-top: 4rem;
  width: 80vw;
  height: 50vh;
  max-width: 800px;
  text-align: center;
  position: relative;
  display: flex;
  overflow: hidden;
}

article {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #7f7f7f;
  transition: all 0.3s linear;
}

article.activeSlide {
  opacity: 1;
  transform: translateX(0);
}

article.lastSlide {
  transform: translateX(-100%);
}

article.nextSlide {
  transform: translateX(100%);
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: black;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.maincontainer {
  height: 100%;
  background: white;
  display: flex;
  flex-direction: row;
}

.card-image {
  width: 22vw;
  margin-top: 30%;
  margin-left: 10%;
}

.div1 {
  text-align: center;
}

.div2 {
  width: 100%;
}

.div2 h3 {
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-top: 1%;
  margin-bottom: 3%;
  font-size: 85px;
  color: white;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.progress {
  background-color: white;
  position: relative;
  margin: 0 !important;
  height: 40px;
  width: 300px;
}

.progress-done {
  background: linear-gradient(to left, black, #404040);
  box-shadow: 0 3px 3px -5px #363636, 0 2px 5px #2e2e2e;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 0;
  opacity: 0;
  transition: 1s ease 0.3s;
}

.progresses {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.sub-progress {
  display: flex;
  flex-direction: row;
  margin-bottom: 24px;
}

.progresses h4 {
  color: black !important;
  font-size: 40px !important;
  letter-spacing: 1px !important;
}

.speed {
  margin-right: 18px;

}

.health {
  margin-right: 10px;

}

.jump {
  margin-right: 22px;

}

.medals {
  width: 150px;
  margin-left: 31%;
}

.smalimg {
  width: 150px
}


.admin-nav {
  display: flex;
  flex-direction: column;
  background-color: rgba(64, 157, 232, 0.514);
  position: fixed;
  left: 0;
  width: 20vw;
  justify-content: space-between;
  height: 100vh;
}

.admin-nav ul {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.admin-container {
  position: absolute;
  width: 80vw;
  margin: auto;
  right: 0;
  background: #BE93C5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #7BC6CC, #BE93C5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #7BC6CC, #BE93C5);
}
.main-admin{
  display: flex;
  /* flex-direction: row; */
  background: #BE93C5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #7BC6CC, #BE93C5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #7BC6CC, #BE93C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.admin-nav ul li {
  /* border-right: white 2px solid; */
  /* border-left: white 2px solid; */
  padding: 0 1rem;
  font-size: 20px;
  margin-right: 3%;
  display: inline-block;
  color: white;
}

.register-event {
  padding: 20px;
}

.register-event h1 {
  font-size: 30px;
  text-align: center;
}

.event-form li {
  text-transform: uppercase;
  font-weight: 600;
  list-style: lower-roman;
  margin-bottom: 2%;
}

.default-admin {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #BE93C5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #7BC6CC, #BE93C5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #7BC6CC, #BE93C5);
}
.dynamic-single-buttons{
  display: flex;
  justify-content: end;
  gap: 10px;
  
}
.soc-separator{
  color: white;
}
.remove-btn {
  background-color: rgba(255, 0, 0, 0.593);
  padding: 7px 12px;
  width: 100px;
  border-radius: 0.3rem;
  color: white;
}
.active {
  text-decoration: underline;
}

.default-admin h1 {
  font-size: 90px;
  position: absolute;
  top: 40%;
  font-family: 'Dancing Script', cursive;
}

.main-admin form {
  margin: auto;
  width: 80%;
}

.main-admin input,
textarea {
  border-radius: 29px !important;
  margin-bottom: 20px;
  width: 100%;
  padding: 10px;

}

.main-admin textarea {
  min-height: 300px;
}

.main-admin h3 {
  font-size: 20px;
}

.main-admin h2 {
  font-size: 25px;
  font-weight: 500;
  margin: 20px 0;

}

.event-submit {
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 12px;
  margin-left: 150px;
  margin-top: 10px;
}

#submit-form {
  background-color: #006dff;
  color: white;
  padding: 0.5rem;
  border-radius: 10px;
  font-size: 20px;
  margin-top: 10px;
  float: left;
}
.social-media-overlay {
  position: fixed;
  top: 50%;
  transform: translate(0,-50%);
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  z-index: 9999;
}
.slide-past-img{
  width: 100%;
}
.social-media-overlay ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-media-overlay ul li {
  margin-bottom: 0.5rem;
}

.social-media-overlay ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #333;
  color: #fff;
  border-radius: 50%;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.social-media-overlay ul li a:hover {
  background-color: #555;
}

.social-media-overlay ul li a i {
  font-size: 20px;
}

/* Adjust the styles as needed */

.addMore {

  background-color: #006dff;
  color: white;
  padding: 0.5rem;
  border-radius: 10px;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  float: right;
}

.event-card-compo {
  display: flex;
  justify-content: center;
}

.stepimg {
  margin-top: 50%;
}
.save-btn{
  background-color: #00000089;
  color: white;
  padding: 10px 15px;
  border-radius: 0.3rem;
}
.soc-cat-list{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.soc-cat-list-name{
  list-style: none;
  background-color: #0000006b;
  color: white;
  padding: 5px 10px;
  border-radius: 0.3rem;
}
.searchBar-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.searchBar-wrap form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.searchBar-wrap input[type="text"] {
  flex-grow: 1;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 0.5rem;
}

.searchBar-wrap select {
  /* padding: 0.5rem; */
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: inherit;
  color: #333;
  margin-right: 0.5rem;
}

.searchBar-wrap button {
  padding: 0.5rem 1rem;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.searchBar-wrap button:hover {
  background-color: #555;
}

/* Adjust the styles as needed */

.hero-container {
  height: 100vh;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.time-range{
  /* width: 20vw; */
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding: 20px 0;
}
.from-time,.to-time{
  display: flex;
  flex-direction: column;
}
.time-range-picker{
  display: flex;
  align-items: center;
  border: none;
  gap: 20px;
  /* height: 50px; */
}
.react-timerange-picker__wrapper {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  align-items: center;
  border: thin solid gray;
  background: white!important;
  border-radius: 1.3rem!important;
}
.time-range-picker input{
  /* height: 50px; */
width: 25px;
margin: 0;
border-radius: 0%;
width: auto!important;
text-align: center;
}
.react-timerange-picker__inputGroup__input:invalid {
  /* background: rgba(230, 227, 227, 0.1)!important; */
  background: none!important;
}
.pos-holders{
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}
.event-winner-head{
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}
.addSocbtn{
  background-color: #006dff;
  color: white;
  padding: 10px 15px;
  border-radius: 0.3rem;
}

.faq-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  /* align-items: center; */
}
.society-names{
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.society-names li,.faq-list li{
  list-style: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.208);
  padding: 15px 0;
}
/* Mobile view css */
@media only screen and (max-width: 500px) {
  .stepimg {
    margin-top: 15%;
  }

  .home-a {
    margin: 20px 0;
  }

  .steps-h3 {
    text-align: center;
  }

  .about-soc-head {
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-weight: 800;
    font-size: 38px;
    color: #000000;
  }

  .blog-wrap img {
    width: 132px;
    border: 2px solid gray;
    text-align: center;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .about-soc-div {
    border-radius: 12px;
    border: 3px solid #006dff;
    padding: 0.2rem;
  }

  .about-soc h1 {
    display: inline-block;
    width: 100%;
    font-size: 30px;
    text-align: center;
    border-bottom: 1px solid gray;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    background: #006dff;
  }

  .about-soc ul li {
    font-size: 16px;
    text-align: left;
    letter-spacing: 0.5px;
  }

  .slider {
    width: 100%;
  }

  .bottombar {
    padding: 18px;
    position: relative;
    display: flex;
    justify-content: center;
    gap: 14px;
    border-bottom: 1px solid gray;
    top: 64px;
    position: fixed;
    width: 100vw;
    z-index: 99;
  }

  .bottombar li button {
    text-transform: uppercase;
    letter-spacing: 1.2px;
    font-weight: 600;
    font-size: 17px;
  }

  .event-card-compo {
    margin: auto;
    width: 80%;
    padding: 34% 0 0 0;
    display: flex;
    justify-content: center;
  }

  .overlay h3 {
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    color: aliceblue;
    border-radius: 20px;
    text-transform: initial;
    font-weight: 700;
    letter-spacing: 7px;
  }

  .soc-names {
    display: flex;
    justify-content: center;
    gap: 5%;
  }

  .overlay h2 {
    margin-top: 16px;
    margin-bottom: 1%;
    font-size: 25px;
    letter-spacing: 6px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
  }

  .content h1 {
    margin-bottom: 1%;
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-weight: 800;
    font-size: 32px;
    color: #000000;
  }

  .content {
    width: 90%;
    margin: 18% auto 8% auto;
    text-align: center;
    box-shadow: 1px 1px 1px 1px #615b5b;
    border-radius: 12px;
    border: 3px solid #006dff;
    padding: 0.5rem;
  }

  .content ul {
    border: 2px solid #2b2a2a;
    padding: 14px;
    margin-top: 5%;
    font-weight: 600;
    font-size: 16px;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 2px 2px #a9a5a5;
  }

  .faqs {
    width: 100%;
    margin-top: 33px;
    padding: 0;
  }

  .winner-head {
    font-size: 30px;
    font-weight: 600;
    margin-top: 4%;
    margin-bottom: 4%;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .medals {
    width: 150px;
    margin-left: 0;
  }

  .oneline span {
    width: 33%;
    display: flex;
    flex-direction: column;
    float: inline-start;
    font-size: 15px;
    font-weight: 700;
  }

  .admin-nav ul li {
    padding: 0;
    font-size: 18px;
    margin-right: 1%;
    display: inline-block;
    color: white;
  }

  .default-admin h1 {
    font-size: 74px;
    position: relative;
    text-align: center;
    margin-top: 20vh;
    height: 100vh;
    font-family: 'Dancing Script', cursive;
  }

  .admin-container {
    width: 100%;
    margin: auto;
  }
  .soc-banner {
    padding-top: 20%;
  }
  .blog-desc {
    font-size: 16px;
}
.admin-signin{
  margin-top: 20%;
}
.eventcards {
  box-shadow: 5px 4px 4px #a09f9f;
  height: 428px;
  width: 250px;
  background: white;
}
.pasteventcards {
  box-shadow: 5px 4px 4px #a09f9f;
  height: 352px;
  width: 250px;
  background: white;
}
}
.center{
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@keyframes loading{
  0%{
    height: 50px;
    top: 0px;
  }
  
  50%{
    height: 70px;
    top: -10px;
  }
  
  100%{
    height: 50px;
    top: 0px;
  }
}

#loading{
  position:absolute;
  background-color: #000000;
  height: 50px;
  width: 15px;
  animation-name: loading;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

#loading.loading1{
  left:-25px;
  animation-delay: 0.2s;
}

#loading.loading2{
  left:0px;
  animation-delay: 0.4s;
}

#loading.loading3{
  left:25px;
  animation-delay: 0.6s;
}