.banner-details {
  width: 100vw;
  height: 100vh;
  filter: brightness(70%);


}

/* .banner-detail img{
    width: 100%;
    height: 100%;
} */
.cover {
  display: flex;
  justify-content: center;
  position: relative;
}

.overlay {
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: saturate(180%) blur(30px);
  backdrop-filter: saturate(180%) blur(3px);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
  text-align: center;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* padding-right: 5%; */
  padding-top: 3%;

}

.soc-names {
  display: flex;
  justify-content: center;
  gap: 5%;
}

.soc-names span {
  display: block;


}

.soc-names h1 {
  font-size: 35px;
  color: aliceblue;
  padding: 3px 10px 3px 10px;
  border-radius: 15px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 5px;
}

.overlay h2 {
  margin-top: 16px;
  margin-bottom: 1%;
  font-size: 30px;
  letter-spacing: 6px;
  font-weight: 900;
  color: rgb(255, 255, 255);
  text-transform: uppercase;

}

.overlay h3 {
  font-family: 'Dancing Script', cursive;
  font-size: 82px;
  color: aliceblue;
  border-radius: 20px;
  text-transform: initial;
  font-weight: 700;
  letter-spacing: 7px;
}

.overlay button {
  font-size: 30px;
  font-weight: 700;
  text-transform: capitalize;
  width: 252px;
  background: white;
  padding: 5px;
  margin: 2% auto 0 auto;
  border-radius: 2.5rem;
  letter-spacing: 1px;
  border: 1px solid #000000;
}

.overlay button:hover {
  /* background: rgba(0,0,0,0.3); */
  background-color: rgb(0 100 218 / var(--tw-bg-opacity));
  color: aliceblue;
  border: 1px solid white;
}

.overlay a {
  font-size: 19px;
  text-transform: capitalize;
  width: 212px;
  background: transparent;
  color: white;
  padding: 5px;
  margin: 2% auto 0 auto;
  border-radius: 2.5rem;
  /* box-shadow: 5px 4px 4px #8c8585; */
  letter-spacing: 1px;
  border: 1px solid #ffffff;
}

.overlay a:hover {
  border: 1px solid white;
  background-color: rgb(0 100 218 / var(--tw-bg-opacity));
  color: aliceblue;
}

.content {
  width: 85%;
  margin: 5% auto 8% auto;
  text-align: center;
  box-shadow: 7px 7px 7px 7px #8c8585;

  border: 5px solid rgb(53, 53, 53);
  padding: 3%;
}

.content h1 {
  font-size: 50px;
  margin-bottom: 2%;
  font-weight: 800;
}

.content ul {
  border: 2px solid gray;
  padding: 20px;
  margin-top: 5%;
  font-weight: 600;
  font-size: 20px;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 2px 2px #8c8585;

}

.content ul li {
  text-align: justify;
  margin-top: 2px;
  letter-spacing: 2px;
}

.content p {
  font-size: 17px;
  text-align: justify;
  letter-spacing: 1px;

}


.faqs {
  width: 80%;
  margin: 2% auto 0 auto;
  padding: 15px;

}

.faqs h2 {
  font-weight: 700;
}

.faqs .faq {
  margin: 15px;
  padding: 15px;
  background: #fff;
  border-radius: 10px;
  border: 2px solid gray;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.faqs .faq .faq-question {
  position: relative;
  font-size: 20px;
  padding-right: 80px;
  font-weight: 500;
  text-align: start;
  transition: all 0.4s ease;
}

.oneline span {
  width: 33%;
  display: flex;
  flex-direction: column;
  float: inline-start;
  font-size: 30px;
  font-weight: 700;
}

.faqs .faq .faq-question::after {
  content: "+";
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  width: 30px;

  height: 30px;
  transition: all 0.2s ease;
}

.faqs .faq .faq-answer {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  font-weight: 500;
  text-align: start;

  transition: all 0.2s ease;
}

.faqs .faq.open .faq-question {
  margin-bottom: 15px;
}

.faqs .faq.open .faq-question::after {
  content: "-";
}

.faqs .faq.open .faq-answer {
  max-height: 1000px;
  opacity: 1;
}

.back-event {
  width: 10px;
}
.logout{
  display: flex;
  background-color: #000000;
  color: white;
  padding: 0.5rem;
  border-radius:10px ;
  margin: 0.5rem 0.5rem;
}
.faqs h2 {
  font-size: 40px;
  text-align: center;
}
.logo{
  display:flex;
  flex-direction: row;
  align-items: center;
}
.logo h2{
  font-size: 30px;
  font-family: 'Dancing Script';
  color: #000000;

}
.nav-logo {
  width: 80px;
}

.bottombar {
  /* filter: blur(10%); */
  padding: 10px;
  /* background-color: rgb(156, 167, 195); */
  position: relative;
  display: flex;
  justify-content: center;
  gap: 40px;
  border-bottom: 1px solid gray;
  top: 12%;
  position: fixed;
  width: 100vw;
}

.bottombar li {
  display: inline-block;
  font-size: 22px;
}

.bottombar li button {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
}

.blog-wrap {
  width: 90%;
  margin: 0 auto 0 auto;
}

.blog-wrap header {
  font-size: 3rem;
  text-align: center;
}

.soc-card {
  width: 100vw;
  padding-left: 2.5%;
  margin: auto;
}

.soc-banner {
  /* border-bottom: 1px solid rgb(189, 185, 185); */
  margin: 2% 0 2% 0;
  padding-bottom: 2%;
  display: block;
}

.blog-wrap img {
  width: 102px;
  border: 2px solid gray;
  text-align: center;
  border-radius: 50px;
  margin-left: auto;
  margin-right: auto;
}

.soc-banner h1 {
  font-weight: 900;
  letter-spacing: 10px;
}

.blog-subCategory>div {
  margin: 1rem;
}

.blog-desc {
  font-weight: 500;
  font-size: large;
  padding: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.soc-single-card {
  border-radius: 20px;
  box-shadow: 0 3px 7px 4px #888888;
  width: 280px;
}
.about-soc-head{
  text-align: center;
  font-weight: 800;
  font-size: 50px;
  color: #006dff;
}
.about-soc h1 {
  display: inline-block;
  width: 100%;
  font-size: 50px;
  text-align: center;
  border-bottom: 1px solid gray;
  text-transform: uppercase;
  font-weight: 800;
  color: white;
  background: #006dff;
}
.about-soc-div{
  border-radius: 12px;
  border: 9px solid #006dff;
  padding: 1rem;
  background: #216dd44a;

}
.about-soc {
  margin-bottom: 5%;
  margin-top:7%;
}

.about-soc ul li {
  width: 100%;
  font-size: 23px;
  border-bottom: 1px solid gray;
  margin: 0;
  color: black;
  border-radius: 0;
  background: #216dd44a;
}

.about-soc ul h3 {
  display: inline;
  font-weight: 700;
}

.winner-head {
  font-size: 40px;
  font-weight: 600;
  margin-top: 4%;
  margin-bottom: 4%;
  text-transform: uppercase;
  letter-spacing: 1px;

}

.eventcards {
  box-shadow: 5px 4px 4px #8c8585;
  width: 250px;
}

.soc-event-avatar {
  width: 103px;
  border-radius: 50px;
  margin-left: auto;
  margin-right: auto;

}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: black;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slider {
  width: 90vw;
  margin: 5rem auto;
  max-width: 1170px;
}

.section-center {
  margin: auto;
  margin-top: 4rem;
  width: 80vw;
  height: 50vh;
  max-width: 800px;
  text-align: center;
  position: relative;
  display: flex;
  overflow: hidden;
}

article {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #7f7f7f;
  transition: all 0.3s linear;
}

article.activeSlide {
  opacity: 1;
  transform: translateX(0);
}

article.lastSlide {
  transform: translateX(-100%);
}

article.nextSlide {
  transform: translateX(100%);
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: black;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.maincontainer {
  height: 100%;
  background: white;
  display: flex;
  flex-direction: row;
}

.card-image {
  width: 22vw;
  margin-top: 30%;
  margin-left: 10%;
}

.div1 {
  text-align: center;
}

.div2 {
  width: 100%;
}

.div2 h3 {
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-top: 1%;
  margin-bottom: 3%;
  font-size: 85px;
  color: white;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.progress {
  background-color: white;
  position: relative;
  margin: 0 !important;
  height: 40px;
  width: 300px;
}

.progress-done {
  background: linear-gradient(to left, black, #404040);
  box-shadow: 0 3px 3px -5px #363636, 0 2px 5px #2e2e2e;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 0;
  opacity: 0;
  transition: 1s ease 0.3s;
}

.progresses {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.sub-progress {
  display: flex;
  flex-direction: row;
  margin-bottom: 24px;
}

.progresses h4 {
  color: black !important;
  font-size: 40px !important;
  letter-spacing: 1px !important;
}

.speed {
  margin-right: 18px;

}

.health {
  margin-right: 10px;

}

.jump {
  margin-right: 22px;

}

.medals {
  width: 150px;
  margin-left: 27%;
}

.smalimg {
  width: 150px
}
.main-admin{
  
  background: #ffffff;
}

.admin-nav{
  display: flex;
  flex-direction: row;
  background-color: rgb(41, 148, 237);
}
.admin-nav ul{
  width: 100%;
  display: flex;
justify-content: center;
padding: 10px;
}
.admin-container{
  width: 90%;
  margin: auto;
}
.admin-nav ul li{
font-size: 20px;
margin-right: 3%;
  display: inline-block;
  color: white;
}
.register-event{
  padding: 20px;
}
.register-event h1{
  font-size: 30px;
text-align: center;
}
.event-form li{
text-transform: uppercase;
font-weight: 600;
list-style: lower-roman;
margin-bottom: 2%;
}
.default-admin {
  display: flex;
  justify-content: center;
  align-items: center;

}

.default-admin h1{
  font-size: 90px;
  margin-top: 18%;
  font-family: 'Dancing Script', cursive;
}
.main-admin form{
  margin: auto;
    width: 80%;
}
.main-admin  input,textarea{
  border-radius: 29px!important;
  margin-bottom: 20px;
  width: 100%;
  padding: 10px;
  
}
.main-admin  textarea{
min-height: 300px;
}
.main-admin h3{
  font-size: 20px;
}
.main-admin h2{
  font-size: 25px;
  font-weight: 500;
  margin: 20px 0;

}
.event-submit{
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 12px;
  margin-left: 150px;
  margin-top: 10px;
}
#submit-form{
  background-color: #006dff;
  color: white;
  padding: 0.5rem;
  border-radius: 10px;
  font-size: 20px;
  margin-top: 10px;
  float: left;
}
.addMore{
  
  background-color: #006dff;
  color: white;
  padding: 0.5rem;
  border-radius: 10px;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
cursor: pointer;
  float: right;
}